@import "tailwindcss";

* {
    box-sizing: border-box;
}

body{
    user-select: none;
}

.cont {
    width: 3840px;
    height: 2160px;
}

#root {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: local('Roboto-Slab'), url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Serif-Italic';
    src: local('Roboto-Serif-Italic'), url('/fonts/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserat';
    src: local('Montserat'), url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 32px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 24px;
}

*::-webkit-scrollbar-thumb {
    background: #E8DBC2;
    border-radius: 24px;
    border: 2px solid #E8DBC2;
}

*::-webkit-scrollbar {
    height: 32px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #E8DBC2 transparent;
}
