@import "tailwindcss";
body{
    width: 3844px;
    height: 2160px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: local('Roboto'), url('./fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

/* Стили для вертикального скроллбара (hero-content) */
*::-webkit-scrollbar {
    width: 32px; /* Ширина скроллбара */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Фон дорожки скроллбара */
    border-radius: 24px; /* Скругление краёв */
}

*::-webkit-scrollbar-thumb {
    background: #E8DBC2; /* Цвет ползунка */
    border-radius: 24px; /* Скругление ползунка */
    border: 2px solid #E8DBC2; /* Отступ от краёв для эффекта */
}

/* Стили для горизонтального скроллбара (архив) */
*::-webkit-scrollbar {
    height: 32px; /* Высота горизонтального скроллбара */
}

/* Fallback для Firefox */
* {
    scrollbar-width: auto; /* Тонкий скроллбар */
    scrollbar-color: #E8DBC2 transparent; /* Цвет ползунка и фона */
}
